.navbar-nav h5 {
    font-size: 14px;
    font-weight: 300;
    margin-top: -6px;
    margin-bottom: -20px;
}
#about {
    background-color: white;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 20px;
	text-align: center;
    line-height: 1.6;
}
.about1 {
    text-align: left;
    background-color: #F7F7F7;
}
.about1 h5 {
    font-weight: lighter;
    font-style: italic
}
.foto-about {
    background-color: #F2F2F2;
}
.foto-about img{
    height: 280px;
    width: 280px;
    border-radius: 100%;
    border: 10px solid #F2F2F2;
    box-shadow: 0 10px 10px 0 grey;
    margin-top: 10%;
    margin-bottom: 10%;
}

.about2 {
    text-align: right;
    background-color: #F7F7F7;
}
.about2 strong {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin-right: -5px;
}

@media (max-width: 991px) {
    .foto-about img {
        height: 200px;
        width: 200px;
        margin-top: 60%;
        margin-bottom: 40%;
    }
}
@media (max-width: 768px) {
    .about2 {
        text-align: left;
    }
    .foto-about img {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
.row h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    padding: 15px 20px 10px;
}
.row p, h5{
    font-family: 'Titillium Web', sans-serif;
    padding: 0 20px 10px;
}
.row div {
    box-shadow: 10px 10px 0px rgba(0,0,0,0.1);
}
h1 {
    font-weight: bolder;
}