@media (min-width: 768px){
    .navbar {
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    }
    .navbar-nav{
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    .navbar-nav li  {
        font-family: 'Titillium Web', sans-serif;
        font-weight: bolder;
        padding: 0px 35px;
    }
    .navbar-nav a {
        text-align: center;
        vertical-align: middle;
    }
    .navbar-nav h2 {
        font-size: 24px;
        font-weight: bolder;
        margin-top: -10px;
    }
    .navbar-nav h5 {
        font-size: 14px;
        font-weight: 300;
        margin-top: -6px;
        margin-bottom: -10px;
    }
    .navbar-nav i {
        font-size: 16px;
        color: #199cdb;
        padding-left: 10px;
    }
}

@media (max-width: 1024px) {
    .nav-link .fa {
        display: none;
    }
    .navbar-nav a {
        text-align: center;
        vertical-align: middle;
    }
}

@media (max-width: 768px) {
    #mid {
        display: none;
    }
}