.main-div {
    font-family: 'Titillium Web', sans-serif;
    padding-top: 20px;
	text-align: center;
    line-height: 1.6;
}

.main-div h1 {
    font-weight: bolder;
}

.main-div a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: white !important;
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #199cdb;
    transition: 0.5s;
    position: relative;
    z-index: 10000;
    box-shadow: 0 3px 3px 0 grey;
    cursor: pointer;
}
.main-div i {
    font-size: 20px;
    padding-left: 15px;
}
.main-div a:hover {
    background-color: #fcfcfc;
    border-color: #199cdb;
    color: #199cdb !important;
}

.main-div #list {
    padding-top: 20px;
}
#form {
    padding-top: 20px;
	text-align: center;
    line-height: 1.6;
}
#form h1 {
    font-weight: bolder;
}
button {
    text-align: center;
}


h1 {
    padding-top: 20px;
    text-align: center;
}

.message-child {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fcfcfc;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.1);
}

.message-author h5{
    font-size: 28px;
    font-weight: bolder;
}

