ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline p#date {
    margin-top: -15px;
    font-size: 12px;
    font-style: italic;
    padding: 8px 0;
}
ul.timeline p#decs {
    margin-top: -25px;
    font-size: 14px;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    top: -40px;
    left: 10px;
    width: 1px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: -40px 0px;
    padding-bottom: 40px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 1px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
#wrapper{
    padding:20px 15px;
    font-family: 'Titillium Web', sans-serif;
}
.card{
    margin-bottom: 15px;
    border-radius:0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.card i {
    color: darkgray;
    float: right;
    font-size: 38px;
}
.card-title {
    font-size: 30px
}
.card-body {
    margin-bottom: -60px;
}
.header-top{
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
}
.leftmenutrigger{
    display: none
}
@media(min-width:992px) {
    .leftmenutrigger {
        display: block;
        display: block;
        margin: 7px 10px 4px 0;
        cursor: pointer;
    }

    #wrapper {
        padding: 20px 15px 15px 15px;
        font-family: 'Titillium Web', sans-serif;
    }

    .animate {
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}
ul.skills {
    list-style-type: none;
    position: relative;
}
ul.skills > li {
    margin: -40px 0px;
    padding-bottom: 40px;
}
ul.skills > li h5 {
    margin-left: -38px;
}
.rating {
    margin-top: -10px;
    margin-left: -35px;
    margin-bottom: 20px;
}
.rating span {
  	background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 38px;
}
.rating span.transparent {
    opacity: 0.1;
	background:#888888;
}
#resume {
    background-color: white;
    font-family: 'Titillium Web', sans-serif;
    padding-top: 20px;
    line-height: 1.6;
}