{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 1000">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">HOME <i class="fa fa-home"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">ABOUT <i class="fa fa-user"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a id="mid" class="nav-link" href="{% url 'home' %}">
                    <h2>{{ author }}</h2>
                    <h5>{{ headline }}</h5>
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'resume' %}">RESUME <i class="fa fa-file-text"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'contact' %}">CONTACT<i class="fa fa-comments-o"></i><span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>