{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} <!-- title goes here --> {% endblock title %} {{ author }}</title>
        {% include "partials/source.html" %}
        {% block style %}
            <!-- import css here -->
        {% endblock %}
    </head>
    <body>
        <header>
            {% include "partials/header.html" %}
        </header>
        <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </content>
        <script src="{% static 'js/particles.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        {% block script %}
            <!-- script goes here -->
        {% endblock %}
    </body>
</html>