{% extends "layout/base.html" %}

{% load static %}

{% block title %}
    About - 
{% endblock title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock style %}

{% block content %}
    <div id="about" class="col-md-12">
        <div class="container">
            <h1>My Profile</h1>
            <p class="lead">"The best of you are those who benefits others"</p>
            <hr>
            <div class="row">
                <div class="about1 col-md-4">
                    <h3>Who Am I ?</h3>
                    <h5>An Amateur Programmer Located in Our Lovely Earth</h5>
                    <p>I am a college student of Computer Science University of Indonesia. I am Introvert person. I love to be helpful for others. I always be cheerful and be friendly with others. I am learning to be an expert mobile app developer right now and I have a dream to work at Google soon.
                    </p>
                </div>
                <div class="foto-about col-md-4">
                    <img src="{% static 'img/profile.jpg' %}" alt="prof-pic">
                </div>
                <div class="about2 col-md-4">
                    <h3>Details</h3>
                    <p>
                        <strong>Name</strong>
						<br>{{ author }}<br>
                        <strong>Birthdate</strong>
						<br>{{ birthdate }}<br>
						<strong>Age</strong>
						<br>{{ age }} years old<br>
                        <strong>Phone</strong>
						<br>{{ phone }}<br>
                        <strong>Email</strong>
						<br>{{ email }}<br>
						<strong>Location</strong>
						<br>{{ location }}<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}