{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    Contact - 
{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock style %}
{% block content %}
<body id="cont">
        <div id="particles-js"></div>
        <div id="contact">
            <ul>
                <li><a href="https://www.facebook.com/luthfi216"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="http://twitter.com/luthfi216"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/114146989066324651951"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/muhamad-lutfi-arif-817765168/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/luthfi216/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
</body>

{% endblock content %}