{% extends "layout/base.html" %} {% load static %} {% block title %} {% endblock title %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"> {% endblock style %} {% block content %}

<body id="home" style="background-image: url({% static 'img/bg-wallpaper.jpg' %});">
    <div id="particles-js"></div>
    <div class="container" id="greet">
        <h1 class="display-4">Hello, World!</h1>
        <p class="lead">Welcome to My Site</p>
        <a href="{% url 'message' %}">Contact Me</a>
    </div>
</body>
{% endblock content %}