{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Contact Me - 
{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/message.css' %}">
<script src="{% static 'js/message.js' %}"></script>
{% endblock style %}

{% block content %}
    <div class="main-div">
        <div class="container">
            <h1 style="text-align: center" class="text-main">Contact Me</h1>
            <hr>
            <a id='add'>Send Message<i class="fa fa-pencil-square-o"></i></a>
            <div class="container" style="margin-top: 20px" id="form" hidden>
                <form action="{% url 'send-message' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                <button type="submit" value="Submit">Submit</button>
            </div>
            <div class="container" id="message" style="margin-top: 20px">
            {% if messages %}
                {% for message in messages %}
                <div class="message-child" id="{{ message.id }}">
                <div class= "container">
                    <div class="message-author">
                        <h5>{{ message.name }}</h5>    
                    </div>
                    <div class="message-content">
                        <p>{{ message.message }}</p>
                    </div>
                    <div class="message-date">
                        <p style="font-style: italic; font-size: 12px">Created on {{ message.date }}</p>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>There is no any message to show</h3>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
